.conteiner[b-05ouzlna8w] {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card[b-05ouzlna8w] {
    font-size:20px;
    align-items:center;
    padding:10px;
    margin:auto;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
